/* Color */
#blue-text {
    color: blue;
}

/* Background */
.box {
    background-color: grey;
}

/* Absolute units */
.px {
    width: 250px;
}

.cm {
    width: 20cm;
}

.mm {
    width: 100mm;
}

/* Relative units */
.vw {
    width: 20vw;
  }
  
.em {
    width: 15em;
}

.rem {
    font-size: 1rem;
}

/* Box model */

.box1 {
    width: 400px;
    height: 200px;
    margin: 5px, 10px, 15px, 20px;
    padding: 20px;
    border: 5px solid red;
}

.box2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    border-style: dashed;
    border-width: 10px;
    border-color: purple;
    border-radius: 10px;
}
  
/* text */
.text{
    color: grey;
    text-decoration: indigo;
    text-align: center;
}

/* Display */
.block{
    display: block;
}

.inline{
    display: inline;
}

/* Sizing */
.size{
    height: 5px;
    width: 5px;
    max-width: 5px;
    min-width: 5px;
}

/* Position */
.static{
    position: static;
}

.relative{
    position: relative;
}

/* Pseudo-class */
button:hover {
    color: red;
}

a:active {
    color: blue;
}

/* Layouts */
.container {
    display: flex;
}

.container2 {
    display: grid;
}


/* Responsiveness */
@media screen and (min-width: 500px) {
    body {
      background-color: teal;
    }
}

/* Fonts */
* {
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    color:antiquewhite;
}

h1, h3 {
    color: violet;
}

a[href]{
    color: red;
}

header h1 {
    color: maroon;
}

header > h1 {
    font-family: cursive;
}

h2 ~ h3 {
    font-family: fantasy;
}

h3 + h2 {
    font-family: monospace;
}

h1[href]{
    color: blue;
}